#banner {
    width: 100vw; /* 100% of viewport width */
    height: auto; /* Adjust height automatically based on image */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} 

input {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 8px;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'PT Serif', serif;
    font-weight: 600;
}

.text {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(181, 31, 56);
    color: rgb(215, 215, 215);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Yatra One', cursive;
    opacity: 0.8;
}

body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background-image: url("https://images.pexels.com/photos/3199399/pexels-photo-3199399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    overflow-x: hidden;
}

h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    opacity: 0.8;
}

table td, table th {
    text-align: center;
    padding: 8px;
}

table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

table thead th {
    color: #ffffff;
    background: #4FC3A1;
}

table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    table {
        display: block;
        width: 100%;
    }
    table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    table thead, table tbody, table thead th {
        display: block;
    }
    table thead th:last-child {
        border-bottom: none;
    }
    table thead {
        float: left;
    }
    table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    table td, table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    table tbody tr {
        display: table-cell;
    }
    table tbody tr:nth-child(odd) {
        background: none;
    }
    table tr:nth-child(even) {
        background: transparent;
    }
    table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    table tbody td {
        display: block;
        text-align: center;
    }
}

img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    overflow: hidden;
    transition: transform 0.2s;
    margin: auto;
}

img:hover {
    transform: scale(1.5);
}